@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{
    font-family: Montserrat;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #5E17EB;
    background-repeat: no-repeat;
}

.B{
    color:  #0098FF;
}

.landpage{
    padding-left: 60px;
    padding-right: 20px;
    height: 1024px;
}   
.logo{
    margin-bottom: 58px;
}
.logo-left{
    margin-bottom: 20px;
}
.logo-right{
    position: absolute;
    margin-top: 30px;
}
.logo h2{ 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.left{
    margin-top: 100px;
}
.launch{
    width: 656px;
    height: 684px;
}
.left h1{
    margin-bottom: 61px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #FFFFFF;
}
.left p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
    font-size: 30px;
    margin-left: 50px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.smalltext{
	padding-top: 5px;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.form-group{
    margin-top: 70px;
}
.email{
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    width: 364px;
    height: 60px;
    border: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}
.submit-button{
    width: 154px;
    height: 60px;
    background-color: #33ADFF;
    border-radius: 0px 20px 20px 0px;
    border: #33ADFF;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

@media only screen and (max-width: 670px){
    .landpage{
        padding-left: 10px;
    }
    .left{
        padding-bottom: 50px;
    }
    .launch{
        width: 100%;
        height: auto;
        margin-top: 90px;
    }
    .submit-button{
        position: relative;
        margin-left: 70px;
        margin-top: 20px;
        border-radius: 20px 20px 20px 0px;
    }
    .email{
        border-radius: 20px 20px 20px 0px;
        width: 300px;
    }
    #clockdiv{
        margin-right: 90px;
    }
    .left{
        width: 100%;
    }
    .bottom{
        margin-left: 20px;
    }
}